/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	background: #EEE;
}

mainpage {
	display: block;
	margin: 20px auto;
	padding: 50px 100px;
	border: #AAA 1px solid;
	border-radius: 10px;
	width: 800px;
	min-height: 600px;
	background: #FFF;
}

h1 {
	margin-bottom: 15px;
	font-size: 25px;
}

header {
	margin-bottom: 10px;
	min-height: 80px;
	border-bottom: #AAA 2px solid;
}

h1note {
	margin-left: 25px;
	color: #666;
	font-size: 15px;
}

published:before {
	content:"发布日期：";
}

pb {
	margin: 10px 35px;
	line-height: 35px;
	background: #F7F7F7;
	white-space: nowrap;
	border: #BBB 1px solid;
	border-radius: 5px;
	
	display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 120px auto;
}

pb span {
	grid-area: a;
	width: auto;
	margin: auto auto;
	color: #666;
}

pb input {
	width: auto;
	height: 35px;
	line-height: 35px;
	border: #DDD 1px solid;
	background: #FCFCFC;
	border-left: #DDD 2px solid;
	border-radius: 0 5px 5px 0;
	padding: 0 10px;
	font-size: 15px;
	color: #444;
	box-shadow: 0 0 5px #DDD inset;
	transition: all .3s;
	grid-area: b;
}

pb input:hover {
    border: #19BAAC 1px solid;
	border-left: #19BAAC 2px solid;
}

pb input:focus {
    border: #19BAAC 1px solid;
	border-left: #19BAAC 2px solid;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 0 3px #19BAAC;
	background: #FEFEFE;
	color: #000;
	outline: none;
}

pb input[type="password"] {
	color: transparent;
	text-shadow: 0px 0 10px #000;
	letter-spacing:2px;
	text-indent: 10px;
	font-size: 20px;
}

pb input[type="password"]:focus {
	color: #000;
	text-shadow: 0 0 0px #000;
}

pbt {
	display: block;
	margin: 10px 35px;
	line-height: 35px;
	width: auto;
	background: #F7F7F7;
	border: #BBB 1px solid;
	border-radius: 5px;
}

pbt div {
	padding: 0 15px;
	color: #666;
}

pbt textarea {
	margin: 0 0 -11px 0;
	resize: vertical;
	width: 706px;
	min-height: 100px;
	border: #BBB 1px solid;
	border-radius: 0 0 5px 5px;
	color: #444;
	box-shadow: 0 0 5px #DDD inset;
	transition: all .3s;
	background: #FCFCFC;
	padding: 10px;
}

pbt textarea:hover {
    border: #19BAAC 1px solid;
}

pbt textarea:focus {
    border: #19BAAC 1px solid;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 0 3px #19BAAC;
	background: #FEFEFE;
	color: #000;
	outline: none;
}

pbt textarea:active {
    transition: all .0s;
}

#output {
	margin: 10px auto;
	padding: 10px;
	background: #FAFAFA;
	border: #BBB 1px solid;
	border-radius: 5px;
	transition: all .3s;
	color: #444;
}

#output:hover {
	border: #19BAAC 1px solid;
	box-shadow: 0 0 3px #19BAAC;
	background: #FEFEFE;
	color: #000;
}