* {
    font-family: 宋体, Consolas;
}

body {
    background-color: #000;
    color: #FFF;
}

body ::selection{
    background-color: #FFF;
    color: #000;
}

p {
    line-height: 2px;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.quate {
    color: #AAA;
}