* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, sans-serif, "PingFang SC";
}

body {
    background-color: #F4F4F4;
}

h1 {
    display: inline-block;
    font-size: 30px;
    line-height: 20px;
    padding: 5px 20px 5px 0;
    border-right: 1px #AAA solid;
    margin-right: 16px;
    color: #444;
}

h2 {
    display: inline-block;
    font-size: 25px;
    padding: 12px 0;
    color: #666;
}

#topbar {
    height: 60px;
    width: 100%;
    background-color: #FFF;
    border-bottom: 3px #2f8bf5 solid;
    margin-bottom: 25px;
    z-index: 1000;
    position: relative;
}

#infobox {
    background: #DDD;
    color: #666;
    margin-top: -25px;
    margin-bottom: 25px;
    padding: 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s, padding .3s;
}

#infobox.show {
    padding: 7px 10px;
    max-height: 100px;
}

#infobox .page {
    display: flex;
}

#infobox #infobox-content{
    flex: 100%;
}

#infobox #infobox-close {
    flex: 70px;
    text-align: center;
    display: inline-block;
    line-height: 37px;
    margin-top: -7px;
    margin-bottom: -5px;
    cursor: pointer;
}

#infobox.err {
    background: #FF8080;
    color: #FFF;
}

.flex2fr {
    display: flex;
}

.flex2fr .left, .flex2fr .right{
    flex: 1;
}

@media screen and (max-width: 800px) {
    #topbar {
        margin-bottom: 5px;
    }

    #topbar .page {
        display: flex;
    }

    h1 {
        flex: 1;
        font-size: 18px;
        padding: 20px 5px 18px 20px;
        border: none;
    }

    h2 {
        flex: 1;
        display: inline-block;
        font-size: 25px;
        padding: 12px 0;
        color: #666;
        padding-right: 20px;
        text-align: right;
    }

    #infobox {
        margin-top: -5px;
        margin-bottom: 5px;
    }
}