@charset "utf-8";
/* CSS Document */

a:link {
	color: #379ADD;
	text-decoration: none;
}
a:visited {
	color: #379ADD;
	text-decoration: none}
a:hover {
	color: #4CB2F7;
	text-decoration: none;}
a:active {
	color: #3088C3;
	text-decoration: none}

.main {
	width: 1020px;
	margin: -10px auto auto auto;
}


.topimgbox {
	color: #FFF;
	background-color: #FFFFFF;
	line-height: 300px;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 3px 5px #222;
	border-width: 1px;
	border-style: inherit;
	border-radius: 0px 0px 15px 15px;
	height: 300px;
	width: 1000px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 5px 5px #AAAAAA;
	overflow: hidden;
	margin: 20px auto;
	background-image: url('https://i.loli.net/2019/10/28/SL5wERu9gOUxAHX.jpg');
	background-size: 100% auto;
	background-position: bottom;
	margin: -10px auto 20px auto;
}
.titlebox {
	background-color: #35C8D2;
	background-image: linear-gradient(to right, #35C8D2 , #2DAFB8);
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	height: 50px;
	width: 1000px;
	line-height: 50px;
	padding: 0px 20px 0px 20px;
	box-shadow: 0px 5px 5px #599EA3;
	font-weight:bold;
	overflow: hidden;
	margin: 0 auto;
}
.contentbox {
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	height: auto;
	width: 980px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 3px 3px #AAAAAA;
	overflow: hidden;
	margin: 20px auto;
}
.barbox {
	color: #7C7C7c;
	background-color: #FAFAFA;
	border-width: 1px;
	border-style: inherit;
	border-radius: 10px;
	font-size: 15px;
	height: auto;
	width: 970px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 2px 2px #AAAAAA;
	overflow: hidden;
	margin: -18px 20px 20px 20px;
}
.backbox {
	color: #9E9E9E;
	background-color: #E4E4E4;
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	text-align: center;
	height: auto;
	width: 980px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 3px 3px #AAAAAA;
	overflow: hidden;
	margin: 20px auto;
}
.pathbox {
	color: #7C7C7c;
	background-color: #FAFAFA;
	border-width: 1px;
	border-style: inherit;
	border-radius: 10px;
	font-size: 14px;
	line-height: 0px;
	height: auto;
	width: 970px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 1px 1px #AAAAAA;
	overflow: hidden;
	margin: 10px 20px -10px 20px;
}
.subtitlebox {
	background-color: #95D9DE;
	background-image: linear-gradient(to right, #95D9DE , #8CCFD4);
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	height: 50px;
	width: 1000px;
	line-height: 50px;
	padding: 0px 20px 0px 20px;
	box-shadow: 0px 5px 5px #81C1C6;
	font-weight:bold;
	overflow: hidden;
	margin: 20px auto;
}
.buttombox {
	color: #B7B7B7;
	background-color: #666666;
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	height: auto;
	width: 1000px;
	padding: 40px 20px 40px 20px;
	box-shadow: 0px 5px 5px #AAAAAA;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
}
	.buttombox a:link {
	color: #B7B7B7;
	text-decoration: none;}
	.buttombox a:visited {
	color: #B7B7B7;
	text-decoration: none;}
	.buttombox a:hover {
	color: #C9C9C9;
	text-decoration: none;}
	.buttombox a:active {
	color: #B1B1B1;
	text-decoration: none;}

	.barbox a:link {
		color: #9E9E9E;
		text-decoration: none;
	}
	.barbox a:visited {
		color: #9E9E9E;
		text-decoration: none;
	}
	.barbox a:hover {
		color: #AAAAAA;
		text-decoration: none;
	}
	.barbox a:active {
		color: #9E9E9E;
		text-decoration: none;
	}

	.pathbox a:link {
		color: #9E9E9E;
		text-decoration: none;
	}
	.pathbox a:visited {
		color: #9E9E9E;
		text-decoration: none;
	}
	.pathbox a:hover {
		color: #AAAAAA;
		text-decoration: none;
	}
	.pathbox a:active {
		color: #9E9E9E;
		text-decoration: none;
	}


.buildbox {
	background-color: #FFFFFF;
	background-image: url(bar_w_c.png);
	background-size: 35% auto;
	background-position: right bottom;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	height: auto;
	width: 980px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 3px 3px #AAAAAA;
	overflow: hidden;
	margin: 20px auto;
}
.banbox {
	background-color: #FFFFFF;
	background-image: url(bar_ban.png);
	background-size: 30% auto;
	background-position: right bottom;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	height: auto;
	width: 980px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 3px 3px #AAAAAA;
	overflow: hidden;
	margin: 20px auto;
	opacity: 0.65;
}
.warningbox {
	background-color: #FFCFCF;
	border-width: 1px;
	border-style: inherit;
	border-radius: 15px;
	height: auto;
	width: 980px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0px 3px 8px #FF8888;
	overflow: hidden;
	margin: 20px auto;
	color: #D00
}

redtag {
	color: #fff;
	background-color: #BF2F32;
	border-width: 1px;
	border-style: inherit;
	border-radius: 5px;
	line-height: 20px;
	height: auto;
	width: auto;
	padding: 2px 5px 2px 5px;
	overflow: hidden;
	text-decoration: none;
}
orgtag {
	color: #fff;
	background-color: #D9991F;
	border-width: 1px;
	border-style: inherit;
	border-radius: 5px;
	height: auto;
	width: auto;
	padding: 2px 5px 2px 5px;
	overflow: hidden;
	text-decoration: none;
}
tag {
	color: #6A6A6A;
	background-color: #E5E5E5;
	border-width: 1px;
	border-style: inherit;
	border-radius: 5px;
	font-size: 12px;
	height: auto;
	width: auto;
	padding: 2px 5px 2px 5px;
	overflow: hidden;
	text-decoration: none;
}
goodtag {
	color: #6A6A6A;
	background-color: #CBECCA;
	border-width: 1px;
	border-style: inherit;
	border-radius: 5px;
	font-size: 12px;
	height: auto;
	width: auto;
	padding: 2px 5px 2px 5px;
	overflow: hidden;
	text-decoration: none;
}
badtag {
	color: #6A6A6A;
	background-color: #E5CFD0;
	border-width: 1px;
	border-style: inherit;
	border-radius: 5px;
	font-size: 12px;
	height: auto;
	width: auto;
	padding: 2px 5px 2px 5px;
	overflow: hidden;
	text-decoration: none;
}

tb {
	font-size: 15px;
}
	
	.titlebox:hover{
		background-color: #4ED4DD;
		background-image: linear-gradient(to right, #4ED4DD , #43BDC5);
		box-shadow: 0px 5px 5px #7BC6CC;
	}
	.titlebox:active{
		background-color: #45C1CA;
		background-image: linear-gradient(to right, #45C1CA , #3AA9B1);
		box-shadow: 0px 5px 5px #72B7BC;
	}
	.subtitlebox:hover{
		background-color: #AADEE2;
		background-image: linear-gradient(to right, #AADEE2 , #A5D4D8);
		box-shadow: 0px 5px 5px #96D0D4;
	}
	.subtitlebox:active{
		background-color: #9DCDD1;
		background-image: linear-gradient(to right, #9DCDD1 , #97C3C7);
		box-shadow: 0px 5px 5px #89C1C5;
	}
	.contentbox:hover{
		box-shadow: 0px 3px 5px #7EB6BB;
	}
	.contentbox:active{
		background-color: #FAFAFA;
		box-shadow: 0px 3px 3px #7EB6BB;
	}
	.buildbox:hover{
		box-shadow: 0px 3px 5px #7EB6BB;
	}
	.buildbox:active{
		background-color: #FAFAFA;
	}
	.backbox:hover{
		background-color: #EEEEEE;
	}
	.backbox:active{
		background-color: #E4E4E4;
	}
	.warningbox:hover{
		box-shadow: 0px 3px 10px #FF6666;
	}
	.warningbox:active{
		background-color: #FCCCCC;
		box-shadow: 0px 3px 3px #FF8888;
	}

	as{
	color: #7C7C7C;
	font-size: 15px;
	text-decoration: none;
	}
	aurl{
	color: #0D8339;
	font-size: 15px;
	text-decoration: none;
	}
	el{
	color: #222;
	font-size: 14px;
	text-decoration: none;
	}
