.hide {
    display: none!important;
}

.extend-bar {
    padding: 5px;
    max-height: 200px;
    overflow: hidden;
    transition: max-height .3s, padding .3s;
}

.extend-bar.close {
    padding: 0 5px;
    max-height: 0;
}

#sel-extend {
    width: 200px;
}

.editor {
    width: 100%;
}

.tool-bar {
    width: calc(100% - 10px);
    min-height: 25px;
    background-color: #EEE;
    border: 1px #888 solid;
    border-bottom: none;
    padding: 5px;
}

.tool-group {
    display: inline-block;
    padding-right: 5px;
    border-right: 1px #AAA solid;
}

.tool-group p {
    display: inline-block;
    width: 31px;
    padding: 0 0.5px;
}

.tool-group p button:first-child {
    margin-bottom: 6px;
}

.btn-font {
    width: 90px;
}

.btn-size {
    width: 80px;
}


.tool-group .top {
    margin-bottom: 5px;
}

.tool-bar select {
    height: 30px;
}

button {
    width: 30px;
    height: 30px;
    margin: 1px;
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
}

.btn-b {
    font-weight: bold;
}

.btn-i {
    font-style: italic;
}

.btn-u {
    text-decoration: underline;
}

.btn-s {
    text-decoration: line-through;
}

.ipt-bar {
    width: calc(100% - 10px);
    max-height: 300px;
    background-color: #F2F2F2;
    border: 1px #888 solid;
    border-bottom: none;
    padding: 5px;
    overflow: hidden;
    transition: max-height .3s, padding .3s, border .1s;
}

.ipt-bar.close {
    max-height: 0px;
    padding: 0 5px;
    border-top: none;
}

.ipt-bar h4 {
    padding: 5px 0;
    margin-bottom: 5px;
}

.iptbox-size-box {
    display: flex;
}

.iptbox-size-box .left {
    flex: 120px;
    text-align: center;
}

.iptbox-size-box .right {
    flex: 100%;
}

.vline .v{
    width: 90%;
}

.opt-list>li {
    list-style: none;
    display: inline-block;
}

.opt-list>li:hover {
    background-color: #DDD;
}

.font-list>li {
    padding: 3px 5px;
    text-align: center;
    min-width: 100px;
}

.size-list>li {
    min-width: 30px;
}

.size-1 {font-size: 12px; padding: 7px 0;}
.size-2 {font-size: 13px; padding: 6px 0;}
.size-3 {font-size: 16px; padding: 5px 0;}
.size-4 {font-size: 18px; padding: 4px 0;}
.size-5 {font-size: 24px;}
.size-6 {font-size: 32px;}
.size-7 {font-size: 48px; padding: 0 15px;}

input.size-range {
    height: 50px;
    width: 300px;
}

.editor-text {
    width: calc(100% - 10px);
}