#num {
    width: 500px;
}

#numtype {
    width: 400px;
}

@media screen and (max-width: 800px) {
    #num {
        width: calc(100% - 45px);
        text-align: center;
    }
    #numtype {
        width: calc(100% - 25px);
        text-align: center;
    }
    textarea {
        height: 100px;
    }
}